
/* Make a few classes flex so it's prettier */
.scoreKeeper,
.restartHolder,
.crystalKeeper,
.scoreBoard {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 5px 0px 5px 0px;
};

/* background colors */
body {
	background-color:whitesmoke;
}

.restartHolder,
.scoreBoard,
.scoreKeeper,
.crystalKeeper {
	background-color: blue;
	color:whitesmoke;
	padding: 5px;
	margin:0px;
};
section{
	background-color:blue;
};

.crystalClass {
	max-width: 45%;
	margin:0px 4px 0px 4px;
};

p, 
.scoreKeeper {
	margin-bottom:0px;
	padding-bottom: 0px;
	font-size: 20px;
};

footer {
	text-align: center;
	padding: 25px 0px 0px 50px;
};