
/* Make a few classes flex so it's prettier */
.scoreKeeper,
.restartHolder,
.crystalKeeper,
.scoreBoard {
	display: flex;
	justify-content: center;
	text-align: center;
}

/* background colors */
body {
	background-color:whitesmoke;
}

.button.crystalClass {
	background-color: whitesmoke;

}